*~

build
tools
downloads
package/

.dep
.project
.cproject
.settings/language.settings.xml
.DS_Store
*.code-workspace

# Qt project settings
*.pro.user
*.pro.shared

.vscode
.cache/
*.zip
compile_commands.json
package/
extracted/